.mainHeader{
    background-color: #1e1e2f;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.myProfile{
    position: absolute;
    top: 80px;
    right: 0;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    padding: 30px;
    border-radius: 8px;
}

.myProfile h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-bottom: 20px;
  }
  
  .myProfile-btn {
    background: none;
    border: none;
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .myProfile:hover {
    background-color: #f0f0f0;
  }